#################################################################################################
#                                                                              					#
#                             Primary requirements                             					#
#                                                                              					#
#                                 CHANGE ME !!!                                					#
#                                                                              					#
# Update me and then run 'docker-compose run myconsumer pip_freeze'                             #
#                                                                              					#
#################################################################################################

# Consumer
aet.consumer>=3.11.0
aether.python
dnspython
quickjs
requests
zeebe_grpc

# Tests
flake8
mock
pytest
pytest-runner
pytest-cov
responses
